# Data Science Tools and Ecosystem

INTRODUCTION

In [4]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

data science languages

In [6]:
#A = some of the popular languages that Data Scientists use are:
#python
#R
#SQL
#JAva
#Julia
#scala

data science libraries

In [9]:
#Some of the commonly used libraries used by Data Scientists include:
#TensorFlow
#NumPy
#SciPy
#Pandas
#Matplotlib
#Keras
#SciKit-Learn
#PyTorch

table of Data Science tools


| Datascience tools | 
| -------------| 
| Python | 
| Apache spark | 
| Matlab | 
| Tableau | 
| TensorFlow |

Introducing arithmetic expression examples

In [23]:
#Below are a few examples of evaluating arithmetic expressions in Python
A=2*2
B=6*7
c=43//6
d=25//5
print(A)
print(B)
print(c)
print(d)

4
42
7
5

In [16]:
#This a simple arithmetic expression to mutiply then add integers
A=(3*4)+5
print(A)

17

In [18]:
#This will convert 200 minutes to hours by diving by 60.
A=200
B=60
c=B/A
print(c)

0.3

 list Objectives

**Objectives:**

In [25]:
#List popular languages for Data Science
#TensorFlow
#NumPy
#SciPy
#Pandas
#Matplotlib
#Keras
#SciKit-Learn
#PyTorch

Author's name

In [19]:
#R.K. Narayan.
#Chetan Baghat.
#Arundhati Roy.
#Ruskin Bond.